#Ignoring virtualenv folder containing large Python packages. Heroku already install the packages in requirements.txt on its end
recommendation_api_env/

#Ignoring pycache folder
__pycache__/

#Ignoring shows_vectorizer as the API will load tfidf_vectorizer.pickle not generate it from scratch
shows_vectorizer.py